<a href="https://colab.research.google.com/github/Lokeshpatnana/Pandas/blob/main/Pandas_Cleaning_Data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

# Downloading and Loading Datasets
Downloading all the required csv files and loading the data into the dataframes

In [ ]:
# eCommerce Dataset
!wget https://nkb-backend-otg-media-static.s3.ap-south-1.amazonaws.com/otg_prod/media/Tech_4.0/AI_ML/Datasets/shopping_data.csv

shopping_df = pd.read_csv('shopping_data.csv')

In [ ]:
# Covid Dataset
!wget https://nkb-backend-otg-media-static.s3.ap-south-1.amazonaws.com/otg_prod/media/Tech_4.0/AI_ML/Datasets/italy-covid-daywise.csv

covid_df = pd.read_csv('italy-covid-daywise.csv')

In [ ]:
# Stackoverflow Survey Dataset
!wget https://nkb-backend-otg-media-static.s3.ap-south-1.amazonaws.com/otg_prod/media/Tech_4.0/AI_ML/Datasets/survey_results_public.csv

survey_df = pd.read_csv('survey_results_public.csv')

In [ ]:
# Film Dataset
!wget https://nkb-backend-otg-media-static.s3.ap-south-1.amazonaws.com/otg_prod/media/Tech_4.0/AI_ML/Datasets/film.csv

films_df = pd.read_csv('film.csv')

# Cleaning Data

## Handling Missing Values

### pd.DataFrame.isna
* `pd.DataFrame.isna()`
  * Return a boolean same-sized object indicating if the values are NA.
  * `None` or `numpy.NaN` are considered as NA values.
  * Characters such as `''` or `numpy.inf` are not considered as NA values.

In [ ]:
shopping_df

In [ ]:
shopping_df.isna()

In [ ]:
shopping_df["Order ID"].isna()

**To find the number of `Nan` objects within the given series**

In [ ]:
shopping_df.isna().sum()

### pd.DataFrame.fillna
* `pd.DataFrame.fillna(value=None, limit=None)`
  * Fill NA/NaN values with the given value.
  * `value` is used to fill Nan. It can be a single value(e.g. 0) or a dict, Series, DataFrame etc. It cannot be a list.
  * `limit` is the maximum number of entries along the entire axis where NaNs will be filled.

In [ ]:
shopping_df.fillna(0)

In [ ]:
shopping_df.fillna('MISSING')

**You can fill appropriate missing values for each of the columns**

In [ ]:
values = {'Order ID': '00', 'Product': 'xxx', 'Quantity Ordered': '1', 'Price Each': '100', 'Order Date': '04/07/19 22:30', 'Purchase Address': 'xxxxx'}

shopping_df.fillna(value=values).head(10)

In [ ]:
values = {'Order ID': '00', 'Product': 'xxx', 'Quantity Ordered': '1', 'Price Each': '100', 'Order Date': '04/07/19 22:30', 'Purchase Address': 'xxxxx'}

shopping_df.fillna(value=values, limit=3).head(10)

### pd.DataFrame.dropna

* `pd.DataFrame.dropna(axis=0, how='any', subset=None, inplace=False)`
  * Removes missing values
  * Returns a DataFrame with the NA entries dropped from it.

In [ ]:
shopping_df.dropna()

Drop the rows where all the elements are missing.

In [ ]:
shopping_df.dropna(how='all')

Drop the columns where at least one element is missing.

In [ ]:
shopping_df.dropna(axis='columns', how="any")

**Can also define the specific columns to look for the missing values using the `subset` parameter**

In [ ]:
shopping_df.dropna(subset=['Order ID', 'Product'])

**More Examples:**

In [ ]:
people = {
    'first': ['Kristen', 'Maxine', 'John', 'Emma', np.nan, None, 'NA'],
    'last': ['Carol', 'Williams', 'Smith', 'Collins', np.nan, np.nan, 'Missing'],
    'email': ['KristenC@gmail.com', 'maxine@gmail.com', 'John.S@email.com', None, np.nan, 'Anonymous@email.com', 'NA'],
    'age': ['33', '55', '63', '36', None, None, 'Missing']
}

people_df = pd.DataFrame(people)
people_df

In [ ]:
people_df.isna()

If both the `email` and `last` is `NA`, then drops the row.

In [ ]:
people_df.dropna(axis='index', how='all', subset=['last', 'email'])

If either the `email` or `last` is `NA`, then drops the row.

In [ ]:
people_df.dropna(axis='index', how='any', subset=['last', 'email'])

### Using `replace` to handle other missing values

In [ ]:
people = {
    'first': ['Kristen', 'Missing', 'John', 'Emma', np.nan, None],
    'last': ['Carol', 'Williams', 'Smith', 'Collins', np.nan, np.nan],
    'email': ['NA', 'maxine@gmail.com', 'John.S@email.com', None, np.nan, 'Anonymous@email.com'],
    'age': ['33', '55', '63', '36', None, None]
}

people_df = pd.DataFrame(people)
people_df

In [ ]:
people_df.replace('NA', np.nan, inplace=True)
people_df.replace('Missing', np.nan, inplace=True)

people_df

In [ ]:
people_df.isna()

**We can also specify additional strings to be recognized as `NA/NaN` while loading the data itself**

In [ ]:
pd.read_csv?

In [ ]:
na_vals = ['NA', 'Missing']

survey_df = pd.read_csv('survey_results_public.csv', index_col='Respondent', na_values=na_vals)

## Handling Duplicates

### pd.DataFrame.duplicated
* `pd.DataFrame.duplicated(subset=None, keep='first')`
  * It returns a boolean series for each of the duplicated rows.
  * `subset` is used to only consider certain columns for identifying duplicates.
  * `keep` determines which duplicates (if any) to mark.
    * `first` marks all the duplicates as True except for the first occurrence.
    * `last` marks all the duplicates as True except for the last occurrence.
    * `False` marks all the duplicates as True.

In [ ]:
shopping_df.loc[25:35]

In [ ]:
shopping_df[25:35].duplicated()

In [ ]:
shopping_df[25:35].duplicated(keep='last')

In [ ]:
shopping_df[25:35].duplicated(subset=['Product'])

### pd.DataFrame.drop_duplicates
* `pd.drop_duplicates(subset=None, keep='first', inplace=False)`
  * It returns a dataframe with the duplicated rows removed.
  * `subset` is used to only consider certain columns for identifying duplicates.
  * `keep` determines which duplicates (if any) to mark.
    * `first` marks all the duplicates as True except for the first occurrence.
    * `last` marks all the duplicates as True except for the last occurrence.
    * `False` marks all the duplicates as True.

In [ ]:
shopping_sample = shopping_df[25:35]

In [ ]:
shopping_sample.drop_duplicates()

In [ ]:
shopping_sample.drop_duplicates(keep='last')

In [ ]:
shopping_sample.drop_duplicates(subset=['Product'])

## Changing Datatypes

### Using `astype`

In [ ]:
shopping_df.dtypes

In [ ]:
shopping_df['Price Each'].astype('float32')

In [ ]:
people = {
    'first': ['Kristen', 'Maxine', 'John', 'Emma', np.nan, None],
    'last': ['Carol', 'Williams', 'Smith', 'Collins', np.nan, np.nan],
    'email': ['KristenC@gmail.com', 'maxine@gmail.com', 'John.S@email.com', None, np.nan, 'Anonymous@email.com'],
    'age': ['33', '55', '63', '36', None, None]
}

people_df = pd.DataFrame(people)
people_df

The following code raises an error, because `age` is a string.

In [ ]:
people_df['age'].mean()

If we try to convert it to `int` it still raises an error, because there are `NaN` values in the `age` column.

In [ ]:
people_df['age'] = people_df['age'].astype(int)

Internally, `NaN` values are represented as `float`. So, we can **convert the age column into `float`** instead.

In [ ]:
people_df['age'] = people_df['age'].astype(float)
people_df['age'].mean()

The following code raises an error, because `YearsCode` contains string values.

In [ ]:
survey_df

In [ ]:
survey_df['YearsCode'] = survey_df['YearsCode'].astype('float')

In [ ]:
survey_df['YearsCode'].unique()

In [ ]:
survey_df['YearsCode'].replace('Less than 1 year', 0, inplace=True)

In [ ]:
survey_df['YearsCode'].replace('More than 50 years', 55, inplace=True)

In [ ]:
survey_df['YearsCode'] = survey_df['YearsCode'].astype(float)

In [ ]:
survey_df['YearsCode'].median()

**Note:** We can convert everything in the dataframe to a single datatype at once, using `dataframe.astype(dtype)`

### Converting into datetime objects

In [ ]:
shopping_df.dtypes

* The data type of `Order Date` is currently `object`.
* It can be converted into a `datetime` column using the `pd.to_datetime` method.

In [ ]:
shopping_df['Order Date'] = pd.to_datetime(shopping_df['Order Date'])
shopping_df.dtypes

### Adding new columns related to Datetime

In [ ]:
data = shopping_df.copy()

data['Hour'] = data['Order Date'].dt.hour
data['Minute'] = data['Order Date'].dt.minute
data['second'] = data['Order Date'].dt.second
data['Day'] = data['Order Date'].dt.day
data['Month'] = data['Order Date'].dt.month
data['Year'] = data['Order Date'].dt.year

data.head()

In [ ]:
data['Order Date'].dt.day_name()

# Try It Yourself


For the following questions, use the **Stack Overflow** dataset.
1. Fill the Nan values in the `age` column with 0.
2. Drop the columns which have NaN values.
3. Change the datatype of the `age` column to `int32`.

For the following questions, use the **Covid** dataset.

4. Convert the `date` column into a datetime object.
5. Add three new columns: `day`, `month` and `year`.
6. Mark all the duplicate years as `True` except for the last occurence.